.DS_Store
bin
cgi-bin
etc
htdocs
logs
manager-osx.app
uninstall.app/
xamppfiles/COPYING.thirdparty
xamppfiles/README-wsrep
xamppfiles/RELEASENOTES
xamppfiles/apache2/
xamppfiles/bin/
xamppfiles/build/
xamppfiles/cgi-bin/
xamppfiles/ctlscript.sh
xamppfiles/error/
xamppfiles/etc/
xamppfiles/htdocs/.DS_Store
xamppfiles/htdocs/dashboard/
xamppfiles/htdocs/img/
xamppfiles/icons/
xamppfiles/img/
xamppfiles/include/
xamppfiles/info/
xamppfiles/lib/
xamppfiles/licenses/
xamppfiles/logs/
xamppfiles/man/
xamppfiles/manager-osx.app/
xamppfiles/manual/
xamppfiles/modules/
xamppfiles/mysql/
xamppfiles/php/
xamppfiles/phpmyadmin/
xamppfiles/proftpd/
xamppfiles/properties.ini
xamppfiles/sbin/
xamppfiles/share/
xamppfiles/temp/
xamppfiles/var/
xamppfiles/xampp
