div {
    border: 0px solid green;
}


.glyphicon {
    color: #b30000;
    font-size: 20px;
}


.nav {
    background: #000000;
}

.spacer {
    margin-top: 40px;

}

.button-left-right-margins {
    margin-left: 30px;
    margin-right: 30px;
}

.big-button {
    height: 100px;
    font-size: 50px;
    border-radius: 20px;

}

.ass-btn-color {
    background: #000000;
    color: green;
}

.die-btn-color {
    background: #000000;
    color: darkred;
}

.content-box{
    background: #546E7A;
    padding:20px;
    margin-bottom:20px;
    height:200px;
}

.safety-header{
    color:#43A047;
}

.centered{
    text-align: center
}

body {
    background: whitesmoke;
}
