.nav li{
    width:25%;
    border: 1px solid green;
}

div{
    border: 1px solid gold;
}

nav{
    border: 1px solid blue;
}

.navbar{
    border: 1px solid pink;
}

.safety-background{
    background-color: #e055f3;
}

.safety-text-wrapper{
    margin: 20px auto;
    color: #F5F5F5;
    font-size: 28px;
}