.navbar-brand {
    padding: 0px;
    height: 50px;
}

.navbar-brand>img {
    height: 100%;
    padding: 1px;
    width: auto;
}




#square{
    background-color:red;
    width:100px;
    height:100px;
    position:relative;
    animation: move 0.1s infinite;

}

@-webkit-keyframes move {
    0%{top:0px;}
    50%{top:200px;}
    100%{top:0px;}
}