/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

*{
    font-family: "Open Sans", sans-serif;
}

div {
    border: 0px solid green;
}

.glyphicon {
    color: #b30000;
    font-size: 20px;
}


/*makes every h2 and h3 inside of "centered" elements centered*/
.centered h2,h3{
    text-align: center
}


body {
     background: whitesmoke;
}

.announcements-header{
    color: darkred;
}
.time-content{
    color:#D32F2F;
}
.safety-header{
    color:#43A047;
}
h3{
    color:whitesmoke;
}

.content-box{
    background: #546E7A;
    padding:20px;
    margin-bottom:20px;
    height:200px;
}


