/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
div {
    border: 0px solid green;
}


.glyphicon {
    color: #b30000;
    font-size: 20px;
}

.centered {
    text-align: center
}

.nav {
    background: #000000;
}




.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}




/*.background-grad {*/
    /*background: linear-gradient(to bottom, gray, white);*/
/*}*/

.safety-background{
    background-color: #e055f3;
}

.safety-text-wrapper{
    margin: 20px auto;
    color: #F5F5F5;
    font-size: 28px;
}