/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */
div {
    border: 1px solid green;
}

.text {
    color: orange;
    font: italic bold 90px/30px Georgia, serif;
}

.othertext {
    font-weight: bolder;
}

.glyphicon {
    color: #b30000;
    font-size: 20px;
}

.centered {
    text-align: center
}

h1 {
}

.nav {
    background: #000000;
}

#test3 {
    font-style: oblique;
}

div {
    border: 0px solid pink;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.spacer {
    margin-top: 40px;

}

.big-button {
    height: 8vw;
    font-size: 4vw;
    border-radius: 20px;
}

.btn-color {
    background: #000000;
    color: #b30000;
}

/*.background-grad {*/
    /*background: linear-gradient(to bottom, gray, white);*/
/*}*/


.safety-background{
    background-color: #e055f3;
}

.safety-text-wrapper{
    margin: 20px auto;
    color: #F5F5F5;
    font-size: 28px;
}